.sfz-map-test {
    font-weight: bold;
}

.sfz-map-wrap {
    width: 100%;
    background-image: url("/upload/sfz/karta.png");
    background-size: cover;
}

.sfz-map-network {
    border: 0.3px solid rgb(210, 214, 214);
    width: 8px;
    height: 8px;
}

