.sfz-map-test {
    font-weight: bold;
}

.sfz-map-table {
    height: 100%;
    width: 100%;
}

.sfz-map-wrap {
    width: 100%;
    background-image: url("/upload/sfz/karta.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.sfz-map-network {
    border: 0.3px solid rgb(210, 214, 214);
}

